In [19]:
import pandas as pd

# read csv with header [asin, user_id, rating, timestamp]:
ratings = pd.read_csv('./Amazon Review Data (2018)/CDs_and_Vinyl.csv')
ratings.columns = ['asin', 'user_id', 'rating', 'timestamp']

# select only the users that have rated more than 10 products
ratings = ratings.groupby("user_id").filter(lambda x: len(x) >= 10)
ratings.head()

          asin         user_id  rating   timestamp
4   0001393774  A3SNL7UJY7GWBI     5.0  1455148800
5   0001393774  A3478QRKQDOPQ2     5.0  1448668800
15  0001393774  A1DOF5GHOWGMW6     5.0  1415059200
31  0001393774  A12R54MKO17TW0     5.0  1326067200
36  0001393774   AEKGGV851HY3K     5.0  1130803200

In [27]:
# counting how many users and products we have:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.asin.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of products = ' + str(n_items))

Number of users = 51764 | Number of products = 293534

In [21]:
ratings.to_csv('./ratings.csv', index=False)

In [23]:
import json

# load the json metadata
with open('./Amazon Review Data (2018)/meta_CDs_and_Vinyl.json') as f:
    meta = [json.loads(line) for line in f]

# convert into dataframe
products = pd.DataFrame(meta)

# keep only useful columns
products = products[['asin', 'title', 'category']]
# select only the products that are in the ratings dataframe:
products = products[products['asin'].isin(ratings['asin'].unique())]
products.head()

,asin,title,category
0,0001393774,Songs for the Shepherd,"[CDs & Vinyl, Christian]"
5,0005164885,Christmas Eve and Other Stories,"[CDs & Vinyl, Holiday & Wedding]"
6,0005465079,Forgiven,"[CDs & Vinyl, Christian, Pop & Contemporary]"
9,000547745X,Acapella Hymns,"[CDs & Vinyl, Christian, Pop & Contemporary]"
13,0563494212,The Complete Hitchhiker's Guide to the Galaxy:...,"[CDs & Vinyl, Comedy & Spoken Word, Spoken Word]"

In [26]:
products.to_csv('products.csv', index=False)